html,
body {
  margin: 0;
}

body {
  font-family: Inter;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 45px 40px;
}

header {
  background: #256dac;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-bottom: 6px;
}

article.journal {
  display: flex;
  align-items: flex-start;
  margin-bottom: 36px;
}

article.journal .marker {
  width: 7px;
  margin-right: 4px;
}

article.journal .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-container span.State {
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 12px;
}

.info-container a {
  color: #1546e6;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918e9b;
}

.info-container h2.entry-title {
  margin-top: 6px 0;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  margin: 4px 0;
  font-size: 0.75rem;
}

.info-container p.entry-text {
  margin: 0;
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
